doctype html
html(lang='en')
  head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    meta(name='theme-color', content='#333')

    title Dtownmom

    meta(name='description', content='Dtownmom Theme')

    link(rel='shortcut icon', href='assets/img/favicon.png')

    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    link(rel='stylesheet', href='assets/css/preload.min.css')

    link(rel='stylesheet', href='assets/css/plugins.min.css')

    link(rel='stylesheet', href='assets/css/style.light-blue-500.min.css')

    link#ms-boxed(rel='stylesheet', href='assets/css/width-boxed.min.css', disabled='')

    //if lt IE 9
      script(src='assets/js/html5shiv.min.js')
      script(src='assets/js/respond.min.js')

    style
        include:less:clean-css cart.style.less
  body

    #ms-preload.ms-preload
      #status
        .spinner
          .dot1
          .dot2

    .sb-site-container
      // Modal
      #ms-account-modal.modal.modal-primary(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog.animated.zoomIn.animated-3x(role='document')
          .modal-content
            .modal-header.shadow-2dp.no-pb
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true')
                  i.zmdi.zmdi-close

              .modal-title.text-center
                span.ms-logo.ms-logo-white.ms-logo-sm.mr-1 JK

                h3.no-m.ms-site-title
                  | Dtown
                  span mom

              .modal-header-tabs
                ul.nav.nav-tabs.nav-tabs-full.nav-tabs-3.nav-tabs-primary(role='tablist')
                  li.active(role='presentation')
                    a.withoutripple(href='#ms-login-tab', aria-controls='ms-login-tab', role='tab', data-toggle='tab')
                      i.zmdi.zmdi-account
                      |  Login

                  li(role='presentation')
                    a.withoutripple(href='#ms-register-tab', aria-controls='ms-register-tab', role='tab', data-toggle='tab')
                      i.zmdi.zmdi-account-add
                      |  Register

                  li(role='presentation')
                    a.withoutripple(href='#ms-recovery-tab', aria-controls='ms-recovery-tab', role='tab', data-toggle='tab')
                      i.zmdi.zmdi-key
                      |  Recovery Pass

            .modal-body
              .tab-content
                #ms-login-tab.tab-pane.fade.active.in(role='tabpanel')
                  form(autocomplete='off')
                    fieldset
                      .form-group.label-floating
                        .input-group
                          span.input-group-addon
                            i.zmdi.zmdi-account

                          label.control-label(for='ms-form-user') Username

                          input#ms-form-user.form-control(type='text')

                      .form-group.label-floating
                        .input-group
                          span.input-group-addon
                            i.zmdi.zmdi-lock

                          label.control-label(for='ms-form-pass') Password

                          input#ms-form-pass.form-control(type='password')

                      .row.mt-2
                        .col-md-6
                          .form-group.no-mt
                            .checkbox
                              label
                                input(type='checkbox')
                                |  Remember Me

                        .col-md-6
                          button.btn.btn-raised.btn-primary.pull-right Login

                  .text-center
                    h3 Login with

                    a.wave-effect-light.btn.btn-raised.btn-facebook(href='javascript:void(0)')
                      i.zmdi.zmdi-facebook
                      |  Facebook

                    a.wave-effect-light.btn.btn-raised.btn-twitter(href='javascript:void(0)')
                      i.zmdi.zmdi-twitter
                      |  Twitter

                    a.wave-effect-light.btn.btn-raised.btn-google(href='javascript:void(0)')
                      i.zmdi.zmdi-google
                      |  Google

                #ms-register-tab.tab-pane.fade(role='tabpanel')
                  form
                    fieldset
                      .form-group.label-floating
                        .input-group
                          span.input-group-addon
                            i.zmdi.zmdi-account

                          label.control-label(for='ms-form-user') Username

                          input#ms-form-user.form-control(type='text')

                      .form-group.label-floating
                        .input-group
                          span.input-group-addon
                            i.zmdi.zmdi-email

                          label.control-label(for='ms-form-email') Email

                          input#ms-form-email.form-control(type='email')

                      .form-group.label-floating
                        .input-group
                          span.input-group-addon
                            i.zmdi.zmdi-lock

                          label.control-label(for='ms-form-pass') Password

                          input#ms-form-pass.form-control(type='password')

                      .form-group.label-floating
                        .input-group
                          span.input-group-addon
                            i.zmdi.zmdi-lock

                          label.control-label(for='ms-form-pass') Re-type Password

                          input#ms-form-pass.form-control(type='password')

                      button.btn.btn-raised.btn-block.btn-primary Register Now

                #ms-recovery-tab.tab-pane.fade(role='tabpanel')
                  fieldset
                    .form-group.label-floating
                      .input-group
                        span.input-group-addon
                          i.zmdi.zmdi-account

                        label.control-label(for='ms-form-user') Username

                        input#ms-form-user.form-control(type='text')

                    .form-group.label-floating
                      .input-group
                        span.input-group-addon
                          i.zmdi.zmdi-email

                        label.control-label(for='ms-form-email') Email

                        input#ms-form-email.form-control(type='email')

                    button.btn.btn-raised.btn-block.btn-primary Send Password

      header.ms-header.ms-header-primary
        .container.container-full
          .ms-title
            a(href='/')
              span.ms-logo.animated.zoomInDown.animation-delay-5 JK

              h1.animated.fadeInRight.animation-delay-6
                | Dtown
                span mom

          .header-right
            .share-menu
              ul.share-menu-list
                li.animated.fadeInRight.animation-delay-3
                  a.btn-circle.btn-google(href='javascript:void(0)')
                    i.zmdi.zmdi-google

                li.animated.fadeInRight.animation-delay-2
                  a.btn-circle.btn-facebook(href='javascript:void(0)')
                    i.zmdi.zmdi-facebook

                li.animated.fadeInRight.animation-delay-1
                  a.btn-circle.btn-twitter(href='javascript:void(0)')
                    i.zmdi.zmdi-twitter

              a.btn-circle.btn-circle-primary.animated.zoomInDown.animation-delay-7(href='javascript:void(0)')
                i.zmdi.zmdi-share

            a.btn-circle.btn-circle-primary.no-focus.animated.zoomInDown.animation-delay-8(href='javascript:void(0)', data-toggle='modal', data-target='#ms-account-modal')
              i.zmdi.zmdi-account

            form.search-form.animated.zoomInDown.animation-delay-9
              input#search-box.search-input(type='text', placeholder='Search...', name='q')

              label(for='search-box')
                i.zmdi.zmdi-search


        include navigation.template.pug

        // container

      .container
        h1.right-line.mb-4 Cart

        .row
          .col-md-9
            .card.mb-1
              table.table.table-responsive.table-no-border.vertical-center
                tr
                  td.hidden-xs
                    img(src='assets/img/demo/products/m1.png', alt='')

                  td
                    h4 Macbook Pro 2016 13&quot; with Touch Bar

                  td
                    .form-inline.input-number
                      input.form-control.form-control-number(type='text', pattern='[0-9]*', value='1')

                  td
                    span.color-success $1999.99

                  td.hidden-xs
                    button.btn.btn-danger
                      i.zmdi.zmdi-delete
                      |  Delete

            .card.mb-1
              table.table.table-responsive.table-no-border.vertical-center
                tr
                  td.hidden-xs
                    img(src='assets/img/demo/products/m1.png', alt='')

                  td
                    h4 Macbook Pro 2016 13&quot; with Touch Bar

                  td
                    .form-inline.input-number
                      input.form-control.form-control-number(type='text', pattern='[0-9]*', value='1')

                  td
                    span.color-success $1999.99

                  td.hidden-xs
                    button.btn.btn-danger
                      i.zmdi.zmdi-delete
                      |  Delete

            .card.mb-1
              table.table.table-responsive.table-no-border.vertical-center
                tr
                  td.hidden-xs
                    img(src='assets/img/demo/products/m1.png', alt='')

                  td
                    h4 Macbook Pro 2016 13&quot; with Touch Bar

                  td
                    .form-inline.input-number
                      input.form-control.form-control-number(type='text', pattern='[0-9]*', value='1')

                  td
                    span.color-success $1999.99

                  td.hidden-xs
                    button.btn.btn-danger
                      i.zmdi.zmdi-delete
                      |  Delete

            .card.mb-1
              table.table.table-responsive.table-no-border.vertical-center
                tr
                  td.hidden-xs
                    img(src='assets/img/demo/products/m1.png', alt='')

                  td
                    h4 Macbook Pro 2016 13&quot; with Touch Bar

                  td
                    .form-inline.input-number
                      input.form-control.form-control-number(type='text', pattern='[0-9]*', value='1')

                  td
                    span.color-success $1999.99

                  td.hidden-xs
                    button.btn.btn-danger
                      i.zmdi.zmdi-delete
                      |  Delete

          .col-md-3
            .card.card-success
              .card-header
                i.fa.fa-list-alt(aria-hidden='true')
                |  Summary

              .card-block
                ul.list-unstyled
                  li
                    strong Price:
                    |  $1984.26

                  li
                    strong Tax:
                    |  $47.22

                  li
                    strong Tax:
                    |  $47.22

                  li
                    strong Shipping costs:

                    span.color-warning $5.25

                h3
                  strong Total:

                  span.color-success $2456.45

                a.btn.btn-raised.btn-success.btn-block.btn-raised.mt-2.no-mb(href='javascript:void(0)')
                  i.zmdi.zmdi-shopping-cart-plus
                  |  Purchase
      // container
      aside.ms-footbar
        .container
          .row
            .col-md-4.ms-footer-col
              .ms-footbar-block
                h3.ms-footbar-title Sitemap

                ul.list-unstyled.ms-icon-list.three_cols
                  li
                    a(href='/')
                      i.zmdi.zmdi-home
                      |  Home

                  li
                    a(href='page-blog.html')
                      i.zmdi.zmdi-edit
                      |  Blog

                  li
                    a(href='page-blog.html')
                      i.zmdi.zmdi-image-o
                      |  Portafolio

                  li
                    a(href='portfolio-filters_sidebar.html')
                      i.zmdi.zmdi-case
                      |  Works

                  li
                    a(href='page-timeline_left2.html')
                      i.zmdi.zmdi-time
                      |  Timeline

                  li
                    a(href='page-pricing.html')
                      i.zmdi.zmdi-money
                      |  Pricing

                  li
                    a(href='page-about.html')
                      i.zmdi.zmdi-favorite-outline
                      |  About Us

                  li
                    a(href='page-team2.html')
                      i.zmdi.zmdi-accounts
                      |  Our Team

                  li
                    a(href='page-services.html')
                      i.zmdi.zmdi-face
                      |  Services

                  li
                    a(href='page-faq2.html')
                      i.zmdi.zmdi-help
                      |  FAQ

                  li
                    a(href='page-login2.html')
                      i.zmdi.zmdi-lock
                      |  Login

                  li
                    a(href='page-contact.html')
                      i.zmdi.zmdi-email
                      |  Contact

              .ms-footbar-block
                h3.ms-footbar-title Subscribe

                p
                  | Lorem ipsum Amet fugiat elit nisi anim mollit minim labore ut esse Duis ullamco ad dolor veniam velit.

                form
                  .form-group.label-floating.mt-2.mb-1
                    .input-group.ms-input-subscribe
                      label.control-label(for='ms-subscribe')
                        i.zmdi.zmdi-email
                        |  Email Adress

                      input#ms-subscribe.form-control(type='email')

                  button.ms-subscribre-btn(type='button') Subscribe

            .col-md-5.col-sm-7.ms-footer-col.ms-footer-alt-color
              .ms-footbar-block
                h3.ms-footbar-title.text-center.mb-2 Last Articles

                .ms-footer-media
                  .media
                    .media-left.media-middle
                      a(href='javascript:void(0)')
                        img.media-object.media-object-circle(src='assets/img/demo/p75.jpg', alt='...')

                    .media-body
                      h4.media-heading
                        a(href='javascript:void(0)') Lorem ipsum dolor sit expedita cumque amet consectetur adipisicing repellat

                      .media-footer
                        span
                          i.zmdi.zmdi-time.color-info-light
                          |  August 18, 2016

                        span
                          i.zmdi.zmdi-folder-outline.color-warning-light

                          a(href='javascript:void(0)') Design

                  .media
                    .media-left.media-middle
                      a(href='javascript:void(0)')
                        img.media-object.media-object-circle(src='assets/img/demo/p75.jpg', alt='...')

                    .media-body
                      h4.media-heading
                        a(href='javascript:void(0)') Labore ut esse Duis consectetur expedita cumque ullamco ad dolor veniam velit

                      .media-footer
                        span
                          i.zmdi.zmdi-time.color-info-light
                          |  August 18, 2016

                        span
                          i.zmdi.zmdi-folder-outline.color-warning-light

                          a(href='javascript:void(0)') News

                  .media
                    .media-left.media-middle
                      a(href='javascript:void(0)')
                        img.media-object.media-object-circle(src='assets/img/demo/p75.jpg', alt='...')

                    .media-body
                      h4.media-heading
                        a(href='javascript:void(0)') voluptates deserunt ducimus expedita cumque quaerat molestiae labore

                      .media-footer
                        span
                          i.zmdi.zmdi-time.color-info-light
                          |  August 18, 2016

                        span
                          i.zmdi.zmdi-folder-outline.color-warning-light

                          a(href='javascript:void(0)') Productivity

            .col-md-3.col-sm-5.ms-footer-col.ms-footer-text-right
              .ms-footbar-block
                .ms-footbar-title
                  span.ms-logo.ms-logo-white.ms-logo-sm.mr-1 M

                  h3.no-m.ms-site-title
                    | Material
                    span Style

                address.no-mb
                  p
                    i.color-danger-light.zmdi.zmdi-pin.mr-1
                    |  795 Folsom Ave, Suite 600

                  p
                    i.color-warning-light.zmdi.zmdi-map.mr-1
                    |  San Francisco, CA 94107

                  p
                    i.color-info-light.zmdi.zmdi-email.mr-1

                    a(href='mailto:joe@example.com') example@domain.com

                  p
                    i.color-royal-light.zmdi.zmdi-phone.mr-1
                    | +34 123 456 7890

                  p
                    i.color-success-light.fa.fa-fax.mr-1
                    | +34 123 456 7890

              .ms-footbar-block
                h3.ms-footbar-title Social Media

                .ms-footbar-social
                  a.btn-circle.btn-facebook(href='javascript:void(0)')
                    i.zmdi.zmdi-facebook

                  a.btn-circle.btn-twitter(href='javascript:void(0)')
                    i.zmdi.zmdi-twitter

                  a.btn-circle.btn-youtube(href='javascript:void(0)')
                    i.zmdi.zmdi-youtube

                  br

                  a.btn-circle.btn-google(href='javascript:void(0)')
                    i.zmdi.zmdi-google

                  a.btn-circle.btn-instagram(href='javascript:void(0)')
                    i.zmdi.zmdi-instagram

                  a.btn-circle.btn-github(href='javascript:void(0)')
                    i.zmdi.zmdi-github

      footer.ms-footer
        .container
          p Copyright &copy; Material Style 2017

      .btn-back-top
        a#back-top.btn-circle.btn-circle-primary.btn-circle-sm.btn-circle-raised(href='#', data-scroll='')
          i.zmdi.zmdi-long-arrow-up

    script(src='assets/js/plugins.min.js')
    script(src='assets/js/app.min.js')
