nav.navbar.navbar-static-top.yamm.ms-navbar.ms-navbar-primary
    .container.container-full
          .navbar-header
            a.navbar-brand(href='/')
              span.ms-logo.ms-logo-sm JK

              span.ms-title
                | Dtown
                strong mom

          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.dropdown.active
                a.dropdown-toggle.animated.fadeIn.animation-delay-4(href='javascript:void(0)', data-toggle='dropdown', data-hover='dropdown', data-name='home')
                  | Home
                  i.zmdi.zmdi-chevron-down

                ul.dropdown-menu
                  li
                    .ms-menu-double
                      ul.ms-menu-double-main-menu
                        li.active
                          a(href='#tab-1', data-hover='tab', data-toggle='tab')
                            i.zmdi.zmdi-home
                            |  General Purpose

                        li
                          a(href='#tab-2', data-hover='tab')
                            i.zmdi.zmdi-desktop-windows
                            |  Landing pages

                        li
                          a(href='#tab-3', data-hover='tab', data-toggle='tab')
                            i.zmdi.zmdi-store
                            |  Shop

                        li
                          a(href='#tab-8', data-hover='tab', data-toggle='tab')
                            i.zmdi.zmdi-account
                            |  Professional Profile

                        li
                          a(href='#tab-4', data-hover='tab', data-toggle='tab')
                            i.zmdi.zmdi-edit
                            |  Blog Template

                        li
                          a(href='#tab-5', data-hover='tab', data-toggle='tab')
                            i.zmdi.zmdi-flip
                            |  Magazine Template

                        li
                          a(href='#tab-6', data-hover='tab', data-toggle='tab')
                            i.zmdi.zmdi-smartphone-iphone
                            |  App Pages

                        li
                          a(href='#tab-7', data-hover='tab', data-toggle='tab')
                            i.zmdi.zmdi-search
                            |  Classified Ads

                      .tab-content.ms-menu-double-submenu-container
                        #tab-1.tab-pane.active
                          ul.ms-menu-double-submenu
                            li
                              a(href='/') Default Home

                            li
                              a(href='home-generic-2.html') Home Black Slider

                            li
                              a(href='home-generic-3.html') Home Browsers Intro

                            li
                              a(href='home-generic-4.html') Home Mobile Intro

                            li
                              a(href='home-generic-5.html') Home Material Icons

                            li
                              a(href='home-generic-6.html') Home Typed Hero

                            li
                              a(href='home-generic-7.html') Home Typed Hero 2

                        #tab-2.tab-pane
                          ul.ms-menu-double-submenu
                            li
                              a(href='home-landing.html') Home Landing Intro

                            li
                              a(href='home-landing2.html') Home Landing Intro 2

                            li
                              a(href='home-landing4.html') Home Landing Intro 3

                            li
                              a(href='home-landing3.html') Home Landing Video

                            li
                              a(href='home-cv3.html') Home Profile Landing 1

                            li
                              a(href='home-cv4.html') Home Profile Landing 2

                            li.disable
                              a(href='javascript:void(0)') Landing Video 2 (Next Update)

                        #tab-3.tab-pane
                          ul.ms-menu-double-submenu
                            li
                              a(href='home-shop.html') Home Shop 1

                            li
                              a(href='home-shop2.html') Home Shop 2

                            li.disable
                              a(href='javascript:void(0)') Home Shop 3 (Next Update)

                            li.disable
                              a(href='javascript:void(0)') Home Shop 4 (Next Update)

                        #tab-8.tab-pane
                          ul.ms-menu-double-submenu
                            li
                              a(href='home-cv.html') Home Profile 1

                            li
                              a(href='home-cv2.html') Home Profile 2

                            li
                              a(href='home-cv3.html') Home Profile Landing 1

                            li
                              a(href='home-cv4.html') Home Profile Landing 2

                        #tab-4.tab-pane
                          ul.ms-menu-double-submenu
                            li
                              a(href='home-blog.html') Home Blog 1

                            li
                              a(href='home-blog2.html') Home Blog 2

                            li.disable
                              a(href='javascript:void(0)') Home Blog 3 (Next Update)

                            li.disable
                              a(href='javascript:void(0)') Home Blog 4 (Next Update)

                        #tab-5.tab-pane
                          ul.ms-menu-double-submenu
                            li
                              a(href='home-magazine.html') Home Magazine 1

                            li.disable
                              a(href='javascript:void(0)') Magazine 2 (Next Update)

                            li.disable
                              a(href='javascript:void(0)') Magazine 3 (Next Update)

                            li.disable
                              a(href='javascript:void(0)') Magazine 4 (Next Update)

                        #tab-6.tab-pane
                          ul.ms-menu-double-submenu
                            li
                              a(href='home-app.html') Home App 1

                            li
                              a(href='home-app2.html') Home App 2

                            li.disable
                              a(href='javascript:void(0)') Home App 3 (Next Update)

                            li.disable
                              a(href='javascript:void(0)') Home App 4 (Next Update)

                        #tab-7.tab-pane
                          ul.ms-menu-double-submenu
                            li
                              a(href='home-class.html') Home Classifieds 1

                            li.disable
                              a(href='javascript:void(0)') Classifieds 2 (Next Update)

                            li.disable
                              a(href='javascript:void(0)') Classifieds 3 (Next Update)

              li.dropdown
                a.dropdown-toggle.animated.fadeIn.animation-delay-5(href='javascript:void(0)', data-toggle='dropdown', data-hover='dropdown', data-name='page')
                  | Pages
                  i.zmdi.zmdi-chevron-down

                ul.dropdown-menu.dropdown-menu-left.animated-2x.animated.fadeIn
                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') About us &amp; Team

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a(href='page-about.html') About us Option 1

                      li
                        a(href='page-about2.html') About us Option 2

                      li
                        a(href='page-about3.html') About us Option 3

                      li
                        a(href='page-about4.html') About us Option 4

                      li.divider

                      li
                        a(href='page-team.html') Our Team Option 1

                      li
                        a(href='page-team2.html') Our Team Option 2

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') Form

                    ul.dropdown-menu
                      li
                        a(href='page-contact.html') Contact Option 1

                      li
                        a(href='page-contact2.html') Contact Option 2

                      li.divider

                      li
                        a(href='page-login_register.html') Login &amp; Register

                      li
                        a(href='page-login.html') Login Full

                      li
                        a(href='page-login2.html') Login Integrated

                      li.divider

                      li
                        a(href='page-login_register2.html') Register Option 1

                      li
                        a(href='page-register2.html') Register Option 2

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') Profiles

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a(href='page-profile.html') User Profile Option 1

                      li
                        a(href='page-profile2.html') User Profile Option 2

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') Error

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a(href='page-404.html') Error 404 Full Page

                      li
                        a(href='page-404_2.html') Error 404 Integrated

                      li
                        a(href='page-500.html') Error 500 Full Page

                      li
                        a(href='page-500_2.html') Error 500 Integrated

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') Bussiness &amp; Products

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a(href='page-testimonial.html') Testimonials

                      li
                        a(href='page-clients.html') Our Clients

                      li
                        a(href='page-product.html') Products

                      li
                        a(href='page-services.html') Services

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') Pricing

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a(href='page-pricing.html') Pricing Box

                      li
                        a(href='page-pricing2.html') Pricing Box 2

                      li
                        a(href='page-princing_table.html') Pricing Mega Table

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') FAQ &amp; Support

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a(href='page-support.html') Support Center

                      li
                        a(href='page-faq.html') FAQ Option 1

                      li
                        a(href='page-faq2.html') FAQ Option 2

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') Coming Soon

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a(href='page-coming.html') Coming Soon Option 1

                      li
                        a(href='page-coming2.html') Coming Soon Option 2

                      li
                        a(href='page-coming3.html') Coming Soon Option 3

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') Timeline

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a(href='page-timeline_left.html') Timeline Left

                      li
                        a(href='page-timeline_left2.html') Timeline Left 2

                      li
                        a(href='page-timeline.html') Timeline Center

                  li.dropdown-submenu
                    a.has_children(href='javascript:void(0)') Email Templates

                    ul.dropdown-menu.dropdown-menu-left
                      li
                        a.with-label(href='page-email.html')
                          | Email Template 1
                          span.label.label-success.text-right 1.2

                      li
                        a.with-label(href='page-email2.html')
                          | Email Template 2
                          span.label.label-success.text-right 1.2

                  li
                    a.dropdown-link(href='page-all.html') All Pages

              li.dropdown.yamm-fw
                a.dropdown-toggle.animated.fadeIn.animation-delay-6(href='#', data-toggle='dropdown', data-hover='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-name='component')
                  | UI Elements
                  i.zmdi.zmdi-chevron-down

                ul.dropdown-menu.dropdown-megamenu.animated.fadeIn.animated-2x
                  li
                    .row
                      .col-sm-3.megamenu-col
                        .megamenu-block.animated.fadeInLeft.animated-2x
                          h3.megamenu-block-title
                            i.fa.fa-bold
                            |  Bootstrap CSS

                          ul.megamenu-block-list
                            li
                              a.withripple(href='component-typography.html')
                                i.fa.fa-font
                                |  Typography

                            li
                              a.withripple(href='component-headers.html')
                                i.fa.fa-header
                                |  Headers

                            li
                              a.withripple(href='component-dividers.html')
                                i.fa.fa-arrows-h
                                |  Dividers

                            li
                              a.withripple(href='component-blockquotes.html')
                                i.fa.fa-quote-right
                                |  Blockquotes

                            li
                              a.withripple(href='component-forms.html')
                                i.fa.fa-check-square-o
                                |  Forms

                            li
                              a.withripple(href='component-tables.html')
                                i.fa.fa-table
                                |  Tables

                        .megamenu-block.animated.fadeInLeft.animated-2x
                          h3.megamenu-block-title
                            i.fa.fa-hand-o-up
                            |  Buttons

                          ul.megamenu-block-list
                            li
                              a.withripple(href='component-basic-buttons.html')
                                i.fa.fa-arrow-circle-right
                                |  Basic Buttons

                            li
                              a.withripple(href='component-buttons-components.html')
                                i.fa.fa-arrow-circle-right
                                |  Buttons Components

                            li
                              a.withripple(href='component-social-buttons.html')
                                i.fa.fa-arrow-circle-right
                                |  Social Buttons

                      .col-sm-3.megamenu-col
                        .megamenu-block.animated.fadeInLeft.animated-2x
                          h3.megamenu-block-title
                            i.fa.fa-list-alt
                            |  Basic Components

                          ul.megamenu-block-list
                            li
                              a.withripple(href='component-panels.html')
                                i.zmdi.zmdi-view-agenda
                                |  Panels

                            li
                              a.withripple(href='component-alerts.html')
                                i.zmdi.zmdi-info
                                |  Alerts &amp; Wells

                            li
                              a.withripple(href='component-labels.html')
                                i.zmdi.zmdi-tag
                                |  Labels &amp; Badges

                            li
                              a.withripple(href='component-lists.html')
                                i.zmdi.zmdi-view-list
                                |  Lists

                            li
                              a.withripple(href='component-thumbnails.html')
                                i.zmdi.zmdi-image-o
                                |  Thumbnails

                            li
                              a.withripple(href='component-carousels.html')
                                i.zmdi.zmdi-view-carousel
                                |  Carousels

                            li
                              a.withripple(href='component-modals.html')
                                i.zmdi.zmdi-window-maximize
                                |  Modals

                            li
                              a.withripple(href='component-tooltip.html')
                                i.zmdi.zmdi-pin-help
                                |  Tooltip &amp; Popover

                            li
                              a.withripple(href='component-progress-bars.html')
                                i.zmdi.zmdi-view-headline
                                |  Progress Bars

                            li
                              a.withripple(href='component-pagination.html')
                                i.zmdi.zmdi-n-2-square
                                |  Pagination

                            li
                              a.withripple(href='component-dropdowns.html')
                                i.fa.fa-info
                                |  Dropdowns

                      .col-sm-3.megamenu-col
                        .megamenu-block.animated.fadeInRight.animated-2x
                          h3.megamenu-block-title
                            i.zmdi.zmdi-folder-star-alt
                            |  Extra Components

                          ul.megamenu-block-list
                            li
                              a.withripple(href='component-cards.html')
                                i.zmdi.zmdi-card-membership
                                |  Cards

                            li
                              a.withripple(href='component-composite-cards.html')
                                i.zmdi.zmdi-card-giftcard
                                |  Composite Cards

                            li
                              a.withripple(href='component-counters.html')
                                i.zmdi.zmdi-n-6-square
                                |  Counters

                            li
                              a.withripple(href='component-audio-video.html')
                                i.zmdi.zmdi-play-circle
                                |  Audio &amp; Video

                            li
                              a.withripple(href='component-masonry.html')
                                i.zmdi.zmdi-view-dashboard
                                |  Masonry Layer

                            li
                              a.withripple(href='component-snackbar.html')
                                i.zmdi.zmdi-notifications-active
                                |  SnackBar

                                span.label.label-success.pull-right 1.2

                        .megamenu-block.animated.fadeInRight.animated-2x
                          h3.megamenu-block-title
                            i.zmdi.zmdi-tab
                            |  Collapses &amp; Tabs

                          ul.megamenu-block-list
                            li
                              a.withripple(href='component-collapses.html')
                                i.zmdi.zmdi-view-day
                                |  Collapses

                            li
                              a.withripple(href='component-horizontal-tabs.html')
                                i.zmdi.zmdi-tab
                                |  Horitzontal Tabs

                            li
                              a.withripple(href='component-vertical-tabs.html')
                                i.zmdi.zmdi-menu
                                |  Vertical Tabs

                      .col-sm-3.megamenu-col
                        .megamenu-block.animated.fadeInRight.animated-2x
                          h3.megamenu-block-title
                            i.fa.fa-briefcase
                            |  Icons

                          ul.megamenu-block-list
                            li
                              a.withripple(href='component-icons-basic.html')
                                i.fa.fa-arrow-circle-right
                                |  Basic Icons

                            li
                              a.withripple(href='component-icons-fontawesome.html')
                                i.fa.fa-arrow-circle-right
                                |  Font Awesome

                            li
                              a.withripple(href='component-icons-iconic.html')
                                i.fa.fa-arrow-circle-right
                                |  Material Design Iconic

                            li
                              a.withripple(href='component-icons-glyphicons.html')
                                i.fa.fa-arrow-circle-right
                                |  Glyphicons

                        .megamenu-block.animated.fadeInRight.animated-2x
                          h3.megamenu-block-title
                            i.fa.fa-area-chart
                            |  Charts

                          ul.megamenu-block-list
                            li
                              a.withripple(href='component-charts-circle.html')
                                i.zmdi.zmdi-chart-donut
                                |  Circle Charts

                            li
                              a.withripple(href='component-charts-bar.html')
                                i.fa.fa-bar-chart
                                |  Bars Charts

                            li
                              a.withripple(href='component-charts-line.html')
                                i.fa.fa-line-chart
                                |  Line Charts

                            li
                              a.withripple(href='component-charts-more.html')
                                i.fa.fa-pie-chart
                                |  More Charts

              li.dropdown
                a.dropdown-toggle.animated.fadeIn.animation-delay-7(href='#', data-toggle='dropdown', data-hover='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-name='blog')
                  | Blog
                  i.zmdi.zmdi-chevron-down

                ul.dropdown-menu
                  li
                    a(href='blog-sidebar.html')
                      i.zmdi.zmdi-view-compact
                      |  Blog Sidebar 1

                  li
                    a(href='blog-sidebar2.html')
                      i.zmdi.zmdi-view-compact
                      |  Blog Sidebar 2

                  li
                    a(href='blog-masonry.html')
                      i.zmdi.zmdi-view-dashboard
                      |  Blog Masonry 1

                  li
                    a(href='blog-masonry2.html')
                      i.zmdi.zmdi-view-dashboard
                      |  Blog Masonry 2

                  li
                    a(href='blog-full.html')
                      i.zmdi.zmdi.zmdi-view-stream
                      |  Blog Full Page 1

                  li
                    a(href='blog-full2.html')
                      i.zmdi.zmdi.zmdi-view-stream
                      |  Blog Full Page 2

                  li.divider

                  li
                    a(href='blog-post.html')
                      i.zmdi.zmdi-file-text
                      |  Blog Post 1

                  li
                    a(href='blog-post2.html')
                      i.zmdi.zmdi-file-text
                      |  Blog Post 2

              li.dropdown
                a.dropdown-toggle.animated.fadeIn.animation-delay-8(href='#', data-toggle='dropdown', data-hover='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-name='portfolio')
                  | Portfolio
                  i.zmdi.zmdi-chevron-down

                ul.dropdown-menu
                  li
                    a(href='portfolio-filters_sidebar.html')
                      i.zmdi.zmdi-view-compact
                      |  Portfolio Sidebar Filters

                  li
                    a(href='portfolio-filters_topbar.html')
                      i.zmdi.zmdi-view-agenda
                      |  Portfolio Topbar Filters

                  li
                    a(href='portfolio-filters_sidebar_fluid.html')
                      i.zmdi.zmdi-view-compact
                      |  Portfolio Sidebar Fluid

                  li
                    a(href='portfolio-filters_topbar_fluid.html')
                      i.zmdi.zmdi-view-agenda
                      |  Portfolio Topbar Fluid

                  li
                    a(href='portfolio-cards.html')
                      i.zmdi.zmdi-card-membership
                      |  Porfolio Cards

                  li
                    a(href='portfolio-masonry.html')
                      i.zmdi.zmdi-view-dashboard
                      |  Porfolio Masonry

                  li.divider

                  li
                    a(href='portfolio-item.html')
                      i.zmdi.zmdi-collection-item-1
                      |  Portfolio Item 1

                  li
                    a(href='portfolio-item2.html')
                      i.zmdi.zmdi-collection-item-2
                      |  Portfolio Item 2

              li.dropdown
                a.dropdown-toggle.animated.fadeIn.animation-delay-9(href='#', data-toggle='dropdown', data-hover='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-name='ecommerce')
                  | Store
                  i.zmdi.zmdi-chevron-down

                ul.dropdown-menu
                  li
                    a(href='/store') Products

                  li
                    a(href='/cart') Cart

                  li
                    a(href='#') Checkout

                  li.divider

                  li
                    a(href='#') Item

                  li
                    a(href='#') Item
